body {
  margin-right: 40px;
  margin-left: 40px;
  font-family: 'Poppins', sans-serif;
}


a {
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 6.33px;
}


header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 3;
}


.navBar {
  vertical-align: top;
  padding: 1%;
}

  
ul {
  margin-left: auto;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  vertical-align: auto;
  align-items: center;
  background-color: white;
}


.hero-background {
  position: relative;
  margin-left: 250px;
  padding: 20%;
  background-color: #f4f1f0;
  z-index: -1;
}


.profilePic {
  position: absolute;
  margin-left: 60%;
  width: 585px;
  height: 825px;
  top: 107px;
  z-index: 1;
}


.Footerline {
  position: relative;
  background-color: white;
  margin-top: 100px;
  border: 2px solid #333333;
}